body{background-color: black;color: red; }

/*for navbar container,netflix symbol*/
.navbar{display: flex;justify-content: space-between;align-items: center;padding: 20px;position: relative;} /*flex to make all in 1 row*/
.logo{font-size: 50px; font-weight: bold;}  /*space bw(in .navbar) to arrange row items as left center right(logo,li,profile)*/

/*for nav menus*/
.menu{display: flex;list-style: none;gap: 50px;font-size: 22px;cursor: pointer;position: absolute;left: 36%;} /*position li 36% from left*/
.menu li:hover{transform: scale(1.2);}  /*enlarge li when hover*/
.profile{width: 40px;height: 40px;border-radius: 80%;display: flex;background-color: red; color:black;justify-content: center;
  align-items: center;font-weight: bold;} /*flex to give properties like justify,align to make P fit in center of circle*/

/*for main banner img,name,descrip,buttons*/
.banner img{width:100%;height:600px;max-width:1300px;display:block;margin:10px auto;}/*max width reduce ovrl width,block to use auto to center img*/
.name{font-size: 50px;font-weight: bold;margin-left: 40px;margin-bottom: 5px;color: yellow;}
.descrip{font-size: 20px;margin-left: 40px;color: white;margin-right: 40px;}
.butt button{padding: 10px;font-size: 15px;margin-left: 40px;border-radius: 7px;font-weight: bold;} /*border radius to make edge curve*/
.butt button:hover{background-color: red}

/*for movie posters,categorys title*/
.row{margin-top: 25px;padding-left: 20px;} 
.title{font-size: 30px;}
.posters{display: flex;padding-bottom: 10px;} /*flex to set in single row with horiz scroll*/
.poster{width: 220px;height: 150px;padding: 15px; border-radius: 5px;transition: transform 0.3s;} /*transition-hover in 0.3s not immedidately*/
.poster:hover{transform: scale(1.1);} /*enlarge img on hover*/

/*play button on hover*/
.container {position: relative;} 
.play {position:absolute;top:40%;left:40%;display:none;} /*none hides button initially,top left to position button center with container*/
.container:hover .play {display: block;} /* Show button on hover */


